<p id="notice"><%= notice %></p>
<h1>Repositórios</h1>

<table>
  <thead>
    <tr>
      <th>Criador</th>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Linguagem</th>
      <th>Link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @repositories.each do |repository| %>
      <tr>
        <td><%= repository.owner %></td>
        <td><%= repository.name %></td>
        <td><%= repository.description %></td>
        <td><%= repository.language %></td>
        <td><%= repository.link %></td>
        <td><%= link_to 'Exibir', repository %></td>
        <td><%= link_to 'Remover', repository, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Nova pesquisa', root_path %>
